<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>股格-首页</title>
    </head>
    <body>
        <header>
            <a href="#" class="logo">
                <img src="http://www.9dreams.com/images/logo.png" alt="" />
            </a>
            <div class="navbar">
                <a href="./index.html" class="navBack">
                    <nav>首页</nav>
                </a>
                <a href="./product.html" class="">
                    <nav>产品</nav>
                </a>
                <a href="./forum.html" class="">
                    <nav>社区</nav>
                </a>
                <a href="./aboutus.html" class="">
                    <nav>关于我们</nav>
                </a>
            </div>
        </header>
        <div id="indexSliderWrap">
            <div class="sliderItem fir" data-index="0">
                <img src="http://www.9dreams.com/images/banner/cpin.png" alt="" />
            </div>
            <div class="sliderItem sec" data-index="1">
                <img src="http://www.9dreams.com/images/banner/banner2.png" alt="" />
            </div>
            <div class="sliderButtonPrev js-sliderButtonPrev">‹</div>
            <div class="sliderButtonNext js-sliderButtonNext">›</div>
        </div>
        <div class="middle">
            <p class="focusTitle">关注领域</p>
            <div class="focusList">
                <div class="focusItem">
                    <img src="http://www.9dreams.com/images/xljk.png" alt="" />
                    <div class="wordWrap">
                        <p class="title">心理健康</p>
                        <p class="content">关注心理健康，普及健康生活新理念</p>
                    </div>
                </div>
                <div class="focusItem">
                    <img src="http://www.9dreams.com/images/yyzl.png" alt="" />
                    <div class="wordWrap">
                        <p class="title">音乐治疗</p>
                        <p class="content">走进音乐治疗，让悠扬的音乐帮您放松紧张的神经</p>
                    </div>
                </div>
                <div class="focusItem">
                    <img src="http://www.9dreams.com/images/ydjy.png" alt="" />
                    <div class="wordWrap">
                        <p class="title">运动减压</p>
                        <p class="content">了解运动减压，科学合理的运动规划有助于舒缓压力</p>
                    </div>
                </div>
                <div class="focusItem">
                    <img src="http://www.9dreams.com/images/yjk.png" alt="" />
                    <div class="wordWrap">
                        <p class="title">亚健康</p>
                        <p class="content">正视亚健康，用心解决影响健康的每一个问题</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="content">
                <div class="contactWrap">
                    <div class="contact">
                        <p class="big">联系我们</p>
                        <p>电话 ：010-89373267 / 400-637-3267</p>
                        <p>邮箱 ：9dreams@9dreams.com</p>
                        <p>地址 ：北京市东城区东直门南大街9号华普花园D座1701室</p>
                    </div>
                    <div class="erweima">
                        <img src="http://www.9dreams.com/images/gzh2.png" alt="" />
                        <p>扫一扫上方二维码</p>
                        <p style="margin-left: 6px;">关注珍梦公众号</p>
                    </div>
                </div>
                <div class="bottom">
                    <p class="company">北京珍梦健康科技有限公司</p>
                    <p class="hao">©京ICP备17068077号</p>
                </div>
            </div>
        </footer>
    </body>
</html>